<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<patternlayout pattern="%d{ABSOLUTE} %-5p [%c{1}:%M:%L] %m%n"/>
		</console>
	</appenders>
	<loggers>
		<root level="info">
			<appenderref ref="Console"/>
		</root>
	</loggers>
</configuration>
